In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [3]:
data = pd.read_csv("homeprices.csv")

In [4]:
data.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [12]:
import math

In [13]:
n = data.bedrooms.median()

In [14]:
n

4.0

In [16]:
data.bedrooms = data.bedrooms.fillna(n)

In [17]:
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [18]:
model = LinearRegression()

In [19]:
model.fit(data.drop('price',axis=1),data.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [20]:
model.predict([[3000,3,40]])

array([498408.25158031])

In [21]:
model.coef_, model.intercept_

(array([  112.06244194, 23388.88007794, -3231.71790863]), 221323.00186540443)

In [22]:
#Formula
#y = m0+m1*x+c
#c = 221323.00186540443
112.06244194*3000+23388.88007794*3-3231.71790863*40+221323.00186540443

498408.25157402444